# This workflow will upload a Python Package to PyPI when a release is created
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build tool
        run: python -m pip install --upgrade pip build

      - name: Build release distributions
        run: python -m build

  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      # Mandatory for trusted publishing
      id-token: write

    # Environment for PyPI deployment
    environment:
      name: pypi
      url: https://pypi.org/project/Simple-Tk

    steps:
      - uses: actions/checkout@v4

      - name: Install twine
        run: python -m pip install --upgrade pip twine

      - name: Publish release distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/
          token: ${{ secrets.PYPI_API_TOKEN }}
